
      <div class="cpa-content mdl-layout__content">
        <a name="top"></a>
        <div class="cpa-be-together-section mdl-typography--text-center">
          <%= video_tag "video.mp4", muted: true, controls: false, :autoplay => true, :loop => true, id: "homepage_video" %>
          <div class="logo-font cpa-slogan">More than just a number</div>
          <div class="logo-font cpa-sub-slogan">This is a bad font</div>
          <div class="logo-font cpa-create-character">
            <a href=""><%= image_tag "andy" %> Live your passion</a>
          </div>

        
        </div>
        <div class="cpa-screen-section mdl-typography--text-center">
          <a name="screens"></a>

          <div class="mdl-typography--display-1-color-contrast">Streamlined local knowledge user</div>
          <div class="cpa-screens">
            <div class="cpa-wear cpa-screen">
              <a class="cpa-image-link" href="">
                <%= image_tag "award1", class: "cpa-screen-image" %>
                <%= image_tag "award2", class: "cpa-screen-image" %>
              </a>
              <%= link_to "asymmetric", root_path, class: "cpa-link mdl-typography--font-regular mdl-typography--text-uppercase" %>
            </div>
            <div class="cpa-phone cpa-screen">
              <a class="cpa-image-link" href="">
                <%= image_tag "award3", class: "cpa-screen-image"%>
              </a>
              <%= link_to "Stand-Alone", root_path, class: "cpa-link mdl-typography--font-regular mdl-typography--text-uppercase" %>
            </div>
            <div class="cpa-tablet cpa-screen">
              <a class="cpa-image-link" href="">
                <%= image_tag "award4", class: "cpa-screen-image"%>
              </a>
              <%= link_to "bottom-line", root_path, class: "cpa-link mdl-typography--font-regular mdl-typography--text-uppercase" %>
            </div>
            <div class="cpa-tv cpa-screen">
              <a class="cpa-image-link" href="">
                <%= image_tag "award4", class: "cpa-screen-image"%>
              </a>
              <%= link_to "Taxes", root_path, class: "cpa-link mdl-typography--font-regular mdl-typography--text-uppercase" %>
            </div>
            <div class="cpa-auto cpa-screen">
              <a class="cpa-image-link" href="">
                <%= image_tag "award2", class: "cpa-screen-image"%>
              </a>
              <%= link_to "Coming Soon", root_path, class: "cpa-link mdl-typography--font-regular mdl-typography--text-uppercase mdl-typography--text-left" %>
            </div>
          </div>
        </div>
        <div class="cpa-wear-section">
          <div class="cpa-wear-band">
            <div class="cpa-wear-band-text">
              <div class="mdl-typography--display-2 mdl-typography--font-thin">Accounting</div>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                Kate Smith: Look at all these notes.
              </p>
              <p>
                <a class="mdl-typography--font-regular mdl-typography--text-uppercase cpa-alt-link" href="">
                  See what we can do for you &nbsp;<i class="material-icons">chevron_right</i>
                </a>
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="cpa-customized-section">
          <div class="cpa-customized-section-text">
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Accounting by you, for you</div>
            <p class="mdl-typography--font-light">
              Take care of the stuff oy care about.
              <br>
              <%= link_to "Customize", root_path, class: "cpa-link mdl-typography--font-light" %>
            </p>
          </div>
          <div class="cpa-customized-section-image" ></div>
        </div> -->
        <div class="cpa-more-section">
          <div class="cpa-section-title mdl-typography--display-1-color-contrast">Our Services5f</div>
          <div class="cpa-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <%= image_tag "graph1" %>
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">How will Brooklinen, the luxury bedsheets startup, account for its $10 million Series A stock issuance?</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">"Monitored actuating benchmark"</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="cpa-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   "Expanded holistic benchmark"
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <%= image_tag "graph2"%>
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">AMD Variances Imacted</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Words are in my not-so-humble opinion, the most inexhaustible form of magic we have, capable both of inflicting injury and remedying it."</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="cpa-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Internal Controls accountant
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <%= image_tag "graph3" %>
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Class action contingency lawsuit</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Manufacturing and proccesses international</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="cpa-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Custom
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <%= image_tag "graph4" %>
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Millions to choose from</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Accounts unlimited.</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="cpa-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Find
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>
          </div>
        </div>
        <%= render :partial => 'layouts/footer' %>

      </div>
    </div>
    <%= render partial: 'layouts/contact_button' %>
